.Cart__Main {
  font-family: var(--font-family-default);
  color: var(--color-default);
  font-weight: 300;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000000;
  top: 0;
  right: 0;
  opacity: 1;
  overflow: hidden;
  transition: all .2s;
  pointer-events: all;
}

.Cart__EmptyCart {
  padding: 20px 30px;
  font-weight: 300;
}

.Cart__EmptyHeader {
  font-size: 20px;
}

.Cart__EmptyBody {
  margin: 10px 0;
}

.Cart__NotEmpty {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Cart__MainForClosing {
  transition-delay: .3s;
}

.Cart__Disable {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.Cart__Wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 500px;
  background-color: #ebe6db;
  display: flex;
  flex-direction: column;
}

.Cart__WrapperAnimationHide {
  animation: hide .3s linear forwards;
}

.Cart__WrapperAnimationShow {
  animation: show .3s linear forwards;
}

.Cart__Header {
  padding: 20px 30px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #a39d90;
}

.Cart__CountInCart {
  font-size: 24px;
  margin-left: 5px;
  font-weight: 500;
  border: 2px solid var(--color-default);
  border-radius: 50%;
  padding: 1px 7px;
}

.Cart__Footer {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 30px;
  background-color: #d2ccc0;
  padding-bottom: 50px;
}

.Cart__Subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: end;
  margin-bottom: 10px;
}

.Cart__Products {
  flex: 1;
  overflow-y: auto;

}

@keyframes hide {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}

@keyframes show {
  from {
    right: -500px;
  }
  to {
    right: 0px;
  }
}

.Cart__Context {
  height: 100%;
}

.Cart__CartIsUnAvaliable {
  font-size: 16px;
  margin-top: 20px;
  padding: 0 30px;
  text-align: center;
}

.Cart__CartUnAvaliableHeader {
  margin-bottom: 10px;
}