.Progress__Main {
  color: #222;
  font-weight: 400;
  font-family: var(--font-family-default);
  padding: 3px 5px;
  transition: all .3s;
  background-color: transparent;
  border-radius: 3px;
}

.Progress__Main:hover {
  background-color: #ffffffb6;
}

.Progress__Wrapper {
  display: flex;
  align-items: center;
}

.Progress__Label {
  min-width: 40px;
  max-width: 40px;
}

.Progress__MaxValue {
  min-width: 60px;
  max-width: 60px;
}

.Progress__Scale {
  position: relative;
  flex: 1;
  margin: 0 5px;
  border-radius: 14px;
  background-color: #d2c6c3;
  height: 12px;
  z-index: 1;
}

.Progress__Scale::before {
  position: absolute;
  content: "";
  background-color: #222;
  border-radius: 14px;
  flex: 1;
  height: 12px;
  width: var(--progressWidth);
  /* width: 1000px; */
  z-index: 100;
  top: 0;
  left: 0;
  transform: none;
}