.HeaderButton__Button {
  background-color: transparent;
  padding: 5px 7px 3px;
  border-radius: 3px;
  transition: all .3s;
}

.HeaderButton__Button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.HeaderNews__Popular {
  display: flex;
}