.Reviews__Main {
  background-color: #e9e3da;
  border-radius: 7px;
  padding: 30px;
  font-weight: 300;
  font-family: var(--font-family-default);
  color: #222;
  font-size: 14px;
}

.Reviews__HeaderName {
  font-size: 24px;
  margin-bottom: 30px;
}

.Reviews__RatingWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.Reviews__RatingSection {
  flex: 1;
  min-width: 300px;
  font-weight: 400;
}

.Reviews__RatingSectionHeader {
  margin-bottom: 20px;
}

.Reviews__UserFeedBack {
  margin-top: 20px;
  font-size: 22px;
  border-style: dashed;
  border-bottom: 1px solid #222 ;
}

.Reviews__GeneralRatingSection {
  display: flex;
  align-items: start;
  font-size: 16px;
  font-weight: 400;
}

.Reviews__GeneralRating {
  font-size: 30px;
}