.HeaderAccount__Main {
  font-family: var(--font-family-default);
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
  font-size: 28px;
  
}

.HeaderAccount__ButtonContent {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
} 

.HeaderAccount__ButtonContent * + * 
{
  margin-left: 5px;
} 