.ProductList__Main {
  max-width: 1250px;
  margin: 0 auto;
}

.ProductList__Products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 30px;
  gap: 20px;
  width: 100%;
}

.ProductList__Pagination{

}